/* Базові стилі для сторінки */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5dc; /* Світлий бежевий фон */
    color: #4b3832; /* Темний відтінок коричневого для тексту */
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #4b3832; /* Темно-коричневий для заголовка */
    text-align: center;
    font-family: 'Georgia', serif;
}

/* Стилі для галереї */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    width: 100%;
    max-width: 900px;
    margin-bottom: 20px;
    padding: 15px;
    border: 2px solid #d2b48c; /* Бежевий колір рамки для галереї */
    border-radius: 10px;
    background-color: #fffaf0; /* Кремовий фон для галереї */
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #d2b48c; /* Бежевий колір рамки для зображень */
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05);
}

/* Стилі для кнопок */
.button-container {
    display: flex;
    justify-content: center;
    gap: 15px;
}

button {
    background-color: #d2b48c; /* Бежевий колір для кнопок */
    color: #4b3832; /* Темно-коричневий для тексту кнопок */
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 20px; /* Більш заокруглені краї */
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #c4a484; /* Темніший бежевий для ефекту наведення */
}

button:active {
    background-color: #a67b5b; /* Темніший коричнево-бежевий при натисканні */
}

button:disabled {
    background-color: #e0d6c3; /* Світло-бежевий для неактивних кнопок */
    color: #9c9c9c;
    cursor: not-allowed;
}
